<h1>About me</h1><br>
<br>
Most of us aren't hardcore writers. Most of us can't write a thousand-pages book with a coherent and enjoyable story.
But nonetheless, we sometimes have cool ideas and smart thoughts, we'd like to share with others.
<br>
<br>

Sandro, the creator of everything